/* Dung Clear de thuoc tinh Float  ko lam anh huong den cac yeu to khac */

.clear {
  clear: both;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER */

.header img {
  width: 250px;
}

.header ul {
  /* xóa dấu tròn của danh sách */
  list-style: none;
  background-color: black;
  padding: 20px 0;
}

.header a {
  /* xóa dấu gạch dưới */
  text-decoration: none;
  color: white;
}

.header ul li {
  /* đổi tính chất của thẻ li từ block thành inline: để các li nằm 1 hàng */
  display: inline;
  /* margin chỉ thêm được trái phải khi dùng với thẻ inline */
  margin: 15px;
  /* padding: 15px; */
  /* border:3px solid red; */
}

.header ul li a:hover {
  color: red;
}

/* CAROUSEL */

.carousel {
  background-image: url(../img3/slider_1.jpg);
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 10px;
  background-clip: content-box;
}

/* INTRO */

.intro-text {
  font-size: 20px;
  color: grey;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 2px;
  text-indent: 40px;
  text-align: justify;
}

.intro .intro-text .intro-text-red {
  color: red;
}

.intro-product-left,
.intro-product-right {
  float: left;
  width: 50%;
}

.intro-product-item {
  float: left;
  padding: 10px;
}

.intro-product-item-1 {
  width: 50%;
}

.intro-product-item-2 {
  width: 100%;
}

.intro-product-item img {
  width: 100%;
  display: block;
}

/* PRODUCTS */

h2 {
  text-align: center;
  float: left;
  width: 100%;
}

.products__item {
  float: left;
  width: 25%;
  padding: 0 10px;
  box-sizing: border-box;
}

.item-img {
  max-width: 100%;
}

.item-title {
  font-weight: bold;
  font-size: 25px;
}

.item-content {
  font-size: 17px;
  color: black;
}

.item-btn {
  background-color: red;
  border: 1px solid red;
  color: white;
}

/* BANNER */

#banner {
  margin-top: 10px;
  height: 400px;
  background-image: url(../img3/nature.jpg);
  background-size: cover;
  position: relative;
}

#banner .saleoff {
  height: 300px;
  width: 300px;
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 10%;
}

#banner .saleoff p:nth-child(2) {
  font-size: 40px;
  margin: 10px 0;
}

#banner .saleoff,
#banner p {
  color: white;
  text-align: center;
}

#banner .saleoff h2 {
  margin-top: 70px;
}

/* SERVICES */

.services {
  margin: 20px auto;
  width: 60%;
}

.service-item {
  float: left;
  width: 33.333333%;
  text-align: center;
}

.service-item i {
  color: black;
  font-size: 40px;
}

/* FOOTER*/

.footer {
  margin: auto;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 15px;
  text-align: center;
}

/* end */
